body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 250px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #2c7;
}
